{{#partial "content"}}
    <div class="entry-list">
    <h1>Welcome to Shadd's Blog!</h1>
    <h2>Here are your options:</h2>
    <form action="/entries" method="get"><h3><a href="entries">View all blog entries</a></h3></form>
    <form action="/log-in" method="get"><h3><a href="log-in">Log in</a></h3></form>
    <form action="/new" method="get"><h3><a href="new">Create a new blog entry</a></h3></form>
    </div>
{{/partial}}
{{> hbs/base.hbs}}