{{#partial "content"}}
    <h1>We got no idea what you lookin' for, fool</h1>
    <form action="/entries" method="get">
        <button class="button">Go back to entries</button>
    </form>
{{/partial}}
{{#partial "title"}}404 not found{{/partial}}

{{> hbs/base.hbs}}